body{
    font-family: sans-serif;
    color: white;
    background-color: cornflowerblue;
}

.shortWidth{
    background-color: cornflowerblue;
}
.midWidth{
    background-color: plum;
}

.wideWidth{
    background-color: gold;
}